<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Umm</title>
</head>
<body>
	<div class="box">
		<h1>Welcome, <%= name %></h1>
		<img src=<%= url %> >
		<p> <%= bio %></p>
	</div>

	<div class="formBox">
		<form action="/" method="post">
			<input type="text" name="name" placeholder="name" required="">
			<div class="avatarCont">
				<% images.forEach((img, i) => { %>
					<input name="url" value=<%= i %> type="radio" id=<%=i%> name="avatar" required>
					<label for=<%=i%> ><span style="background-image: url('<%= img %>')"></span></label>
			<%	}) %>
			</div>
			<textarea name="bio" cols="50" rows="7" required></textarea>
			<button>send</button>
		</form>
	</div>
</body>
</html>